<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"/>
     <link rel="stylesheet" type="text/css" href="./styles.css"/>
     <title>Robots Need Jobs!</title>
   </head>

  <body>
  <div class="jumbotron">
            <h1 class="display-3">Linkedin Robots!</h1>
              <p class="lead">These robots have all the swag. Manage your professional robot identity. Build and engage with your professional network. Access knowledge, insights and opportunities..</p>
               <hr class="my-4">
                 <p>500 million+ bot members</p>
                   <p class="lead">
                     <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                   </p>
  <ul class="nav">
       <li class="nav-item">
         <a class="nav-link active" href="/">Home</a>
       </li>
      <li class="nav-item">
         <a class="nav-link" href="/employed">Already Employeed</a>
      </li>
       <li class="nav-item">
         <a class="nav-link" href="/needsajob">For Hire</a>
       </li>
      </ul>
     {{#users}}
       <div class="card" style="width: 20rem;">
        <img class="card-img-top" src= {{avatar}} alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{name}}</h4>
            <p class="card-text">{{email}}</p>
            <p class="card-text">{{job}} Currently Employeed </p>
              <a href="#" class="btn btn-primary">Email this friendly bot</a>
        </div>
        </div>
    {{/users}}
  </body>
</html>