<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <title>Robots Need Jobs</title>
  </head>
  <body>
    <div>
     <!--{"id":1,"username":"hjuza0","name":"Hamlen Juza","avatar":"https://robohash.org/blanditiisexercitationemquaerat.png?size=150x150&set=set1","email":"hjuza0@blogger.com","university":"Pomor State University","job":"Engineer IV","company":"Stark, Feil and Bode","skills":["DMVPN","HDX","Rhino 3D"],"phone":"7-(397)813-7803","address":{"street_num":"78226","street_name":"Ryan","city":"Kamennogorsk","state_or_province":null,"postal_code":"188950","country":"Russia"}}, -->

    {{#users}}
    
      <img src={{avatar}}>
           <a href="{{id}}"><h3>{{name}}</h3></a>
      
      {{#job}}
        <div class="job">{{job}}</div>
      {{/job}}
      {{^job}}
      <p>needs a job</p>
      {{/job}}
      <div>{{  }}</div>




    {{/users}}
    </div>
  </body>
</html>