<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Robots Need Jobs!</title>
  </head>
  <body>
  <div> 
     <img src={{avatar}}>
      <h3>{{name}}</h3>
      <div class="job">{{job}}</div>


  </div>
    
  </body>
</html>